.blog-container {
  font-family: 'Questrial', sans-serif;
  width: 100%;
  margin: 0px auto;
  position: relative;
  top: 140px;
  padding: 80px 100px 20px;
  box-sizing: border-box;
  background: #fff;
 
  div.post {
    border-bottom: 1px solid #000;  
    padding: 50px 70px 50px 30px;
    display: flex;
    box-sizing: border-box;
    &:first-child{
      padding: 10px 70px 50px 30px;
    }
    &:last-child{
      border-bottom: 0px;
    }
  
    .post-title-container {
      padding: 0px 25px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 80%;
      box-sizing: border-box;
      h2 { 
        margin: -5px 0px;
        padding: 0px;
        font-weight: normal;
        font-size: 5vw;
      }
    }
    .date-container {
      padding: 12px 30px 8px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 5%;
      text-align: right;
      box-sizing: border-box;

      span {
        display:block;
        line-height: .9;
        color:#000;
        &.post-date-x { font-size: 60px; -webkit-text-stroke: 2px #fff; line-height: .6}
        &.day { font-size: 36px; -webkit-text-stroke: 0.7px #fff; }
        &.month { font-size: 20px}
        &.year { font-size: 18px; line-height: 1.1}
      }
    }
    .image-container{
      width: 15%;
      padding:10px 0px 8px;
      box-sizing: border-box;
      img {
        max-width:100%;
      }
    }  
  }
}