#contact {
  .contact-container {
    position: relative;
    top: 140px;
    padding: 20px 40px;
  
    p {
      font-family: 'Questrial', Helvetica, sans-serif;
      font-size: 20px;
      display:block;
      width: 100%;
      line-height: 0.6;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 15px;

      .btn-contact {
        width: 180px;
        height:40px;
        font-family: 'Questrial', Helvetica, sans-serif;
        font-size: 18px;
        background: #fff;
        margin: 10px 20px 0px 0px;
        box-shadow: #fff;
        -webkit-appearance: none;
        border: 2px solid #414141;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s ease-in-out, top 100ms linear;
        cursor: pointer;
        position: relative;
        top: 0;

        &:hover{
          top:-4px;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
        }
      }
      .msg {
        border: 2px solid #666;
        max-width: 380px;
        padding:10px;
        max-height: 40px;
        box-sizing:border-box;
        border-radius: 20px 20px;
        display: block;
        opacity: 0;
        flex-basis:100%;
        width: 100%;
        position: relative;
        transition: all 300ms linear;
        text-align: center;
        i {
          transition: left 400ms linear;
          left:50%;
          color: #666;
          background:#fff;
          position: absolute;
          top: -11px;
        }
        &.Email {
          opacity:1;
          i { left:90px }
        }
        &.Phone {
          opacity:1;
          i { left:280px }
        }
      
      }
    }
  }
  
}