.header {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
  .sub-header{
    .title {
      font-size: 16px;
      text-transform: uppercase;
      text-decoration:none;
      .link {
        color:#333;
      }
    }
  }
}