@font-face {
  font-family: 'MFred';
  src: url('/fonts/mfred/MFred.woff') format('woff2'),
  url('/fonts/mfred/MFred.woff') format('woff'),
  url('/fonts/mfred/MFred.eot') format('eot'),
  url('/fonts/mfred/MFred.ttf') format('ttf');
  font-weight: normal;
}



.link { text-decoration: none}
ul, ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

html{
  overflow:hidden;
  font-family: Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height:100%;
  width:100%;
  background: #ffffff;
  &.open {
    overflow: auto;
  }
}
body {
  margin:0px;
  padding: 0px;
 }


.page {
  .title-container {
    position: relative;
    top: 15px;
    padding: 10px 45px;
    z-index: 10;
    box-sizing: border-box;
    @media(max-width:480px){
      position: relative;
    }
    h1 {
      font-size: 130px;
      font-family: 'MFred' !important;
      text-transform: uppercase;
      color: salmon;
      margin: 0px 0px;
      letter-spacing: 1px;
      line-height: 0.9;
      text-indent: 0px;
    }
  }  
}
