@font-face {
  font-family: AkzidenzBold;
  src: url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Bold-Condensed_2806.woff') format('woff'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Bold-Condensed_2806.otf') format('otf'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Bold-Condensed_2806.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: AkzidenzNormal;
  src: url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Medium-Condensed_2824.woff') format('woff'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Medium-Condensed_2824.otf') format('otf'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Medium-Condensed_2824.tff') format('ttf');
  font-weight: normal;
}
 
@font-face {
  font-family: AkzidenzLight;
  src: url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Light-Condensed_2824.woff') format('woff'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Light-Condensed_2824.otf') format('otf'),
  url('/fonts/Akzidenz/Akzidenz-Grotesk-BQ-Light-Condensed_2824.ttf') format('ttf');
  font-weight: lighter;
}

.link { text-decoration: none}
ul, ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  overflow:hidden;
  font-family: Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height:100%;
  width:100%;
  background: #fff;
  position:relative;
}
body {
  overflow:hidden;
  position:absolute;
  min-height:100%;
  width:100% ;
  height:100%;
  margin:0px;
  padding: 0px;
 }

.wrapper {
  width:100% ;
  height:100%;
  min-height:100%;
  position: absolute;
  padding: 0px;

  // .header-wrapper {
  //   position: absolute;
  //   top: 0;
  //   left:0
  // }

  .main-page {
    position:relative;
    width: 100%;
    min-height:100%;
    display: flex;

    .intro {
      position: relative;
      left: 0;
      z-index: 1;
      width: 100%;
      flex: 1;

      &.open {
        animation-name: close;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        .intro-container {
          opacity: 0;
          transition: opacity .6s ease;
        }  
      }
      &.close {
        animation-name: open;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        .intro-container {
          opacity: 1;
          transition: opacity .6s ease;
        }
      }

      .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        opacity: 1;

        .row-top {
          flex: 1 0 100%;
          width: 100%;
          padding: 10px 20px;
          box-sizing: border-box;
        }
        .row-center {
          flex: 1 0 100%;
          width: 100%;
          padding: 10px 20px 0px;          
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .menu {
            position: relative;

            .goUp {
              cursor: pointer;
              position: absolute;
              top: -10px;
              left: 20px;
              width: 30px;
              text-align: center;
              margin-left:-15px;
              z-index: 3;
              opacity: 1;
              i { font-size: 30px;}
              &:hover {
                opacity: .7
              }
            }
            .goDown {
              cursor: pointer;
              position: absolute;
              bottom: 0px;
              left: 20px;
              width: 30px;
              text-align: center;
              margin-left:-15px;
              z-index: 15;
              opacity: 1;
              i { font-size: 30px; }
              &:hover {
                opacity: .7
              }
            }
            .menu-wrapper {
              min-height: 100%;
              max-height: 210px;
              position: relative;
              // comment to test
              overflow: hidden;
           
              ul.menu-container {
                position:relative;
                transition: top 600ms linear;
  
                .menu-link {
                  cursor: pointer;
                  padding-left: 0px;
                  padding-left: 15px;

                  .link { 
                    display:inline-block;
                    font-weight: 400;
                    font-size: 242px;
                    line-height: 1;
                    text-decoration: none;
                    color:#000;
                    position: relative;
                    z-index: 2;
                    min-height: 200px;
                    font-family: 'AkzidenzLight' !important;
                    text-transform: uppercase;
                    // text-transform: uppercase;
                  
                    &:before {
                      width: 0%;
                      position: relative;
                      z-index: 1;
                      top: 145px;
                      content: '';
                      height: 10px;
                      background: #000;
                      display: block;
                      transition: width 0.3s ease-in-out;
                      margin: 0px auto 0;
                    }
                    &:hover:before{
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .row-bottom {
          flex: 1 0 100%;
          width: 100%;
          padding: 10px 40px 10px;
          box-sizing: border-box;

          .intro-text {
            display: block;
            max-width: 50%;
            margin-bottom: 20px;
            line-height: 1.2;
            font-size: 24px;
            font-family: 'AkzidenzLight' !important;

          }
          .read-more {
            font-family: 'AkzidenzNormal' !important;
            background: #fff;
            width: 120px;
            padding: 10px 14px;
            text-align: center;
            border: 1px solid #333;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }

    .content {
      background: rgb(20, 20, 20);
      color: #fff;
      position: relative;
      right: 0;
      z-index: 2;
      .content-container{
        padding: 70px 40px 20px;
        h1 {
          font-size: 75px;
          font-family: 'AkzidenzNormal' !important;
          text-transform: uppercase;
          color: rgb(232, 185, 74);
          margin: 10px 0px;
          letter-spacing: 1px;
        }
        p {
          font-family: 'AkzidenzLight' !important;
          font-size:24px;
        }
      }
      /* Let it fill the entire space horizontally */
      * { display: none;}

      .close-btn {
        display:none;
      }

      &.open {
        animation-name: open;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        .close-btn {
          display: block;
          position: fixed;
          bottom: 20px;
          left: 20px;
          border: 1px solid #999;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          text-align: center;
          font-size: 14px;
          padding: 7px;
          font-weight: lighter;
          font-stretch: extra-expanded;
          color: #999;
          vertical-align: middle;
          cursor: pointer;
        }
        * { display: block;}
      }
      &.close {
        animation-name: close;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;  
        animation-timing-function: ease-out;
  
        * { display: none;}
        
      }     
    }
  }

}


.msg { border : 1px solid white;
display: block;
width: 200px;
height: 300px}
// Animations open and close

@keyframes open {
  0%   {width:0%;}
  100% {width:100%;}
}

@keyframes close {
  0%   {width:100%;}
  100% {width:0%;}
}
